.card {
  position: relative;
  width: 350px;
  height: 250px;
  background-color: #000;
  overflow: hidden;
}

.card_img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  scale: 1.15;
  transition: opacity 0.25s, sacle 0.35s;
}

.card:hover .card_img {
  opacity: 0.5;
  scale: 1;
}

.card_body {
  position: absolute;
  inset: 0;
  display: flex;
  padding: 50px;
  flex-direction: column;
  align-items: center;
  color: #fff;
  row-gap: 15px;
  justify-content: center;
  text-align: center;
}

.card_body::before {
  content: "";
  border: 2px solid #fff;
  position: absolute;
  inset: 20px;
  opacity: 0;
  scale: 1.2s;
  transition: opacity 0.25s, scale 0.25s;
}

.card:hover .card_body::before {
  opacity: 1;
  scale: 1;
}

.card_title {
  letter-spacing: 1px;
  text-transform: uppercase;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}

.card_desc {
  font-size: 14px;
  opacity: 0;
  translate: -25px;
  transition: opacity 0.25s, translate 0.25s;
}
.card:hover .card_desc {
  opacity: 1;
  translate: 0;
}
